<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>

  <div>

    <div class="form-group row" [ngClass]="{'has-danger':nombre.errors && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]=usuario.nombre
               minlength="3"
               required
               #nombre="ngModel"
               [ngClass]="{'form-control-danger':nombre.errors}">
        <div class="form-control-feedback animated fadeIn" *ngIf="nombre.errors?.required && nombre.touched">
          Este campo es requerido
        </div>
        <div class="form-control-feedback animated fadeIn" *ngIf="nombre.errors?.minlength">
          Mínimo {{nombre.errors.minlength.requiredLength}} caracteres
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger':apellido.errors && apellido.touched}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]=usuario.apellido
               required
               #apellido="ngModel"
               [ngClass]="{'has-danger':apellido.errors}">
       <div class="form-control-feedback animated fadeIn" *ngIf="apellido.errors?.required && apellido.touched">
         Este campo es requerido
       </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger':correo.errors && correo.touched}">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]=usuario.correo
             required
             #correo="ngModel"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [ngClass]="{'has-danger':correo.errors}">
     <div class="form-control-feedback animated fadeIn" *ngIf="correo.errors?.required && correo.touched">
       Este campo es requerido
     </div>
     <div class="form-control-feedback animated fadeIn" *ngIf="correo.errors?.pattern && correo.touched">
       Por favor revisa el formato del campo
     </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">
      <select [(ngModel)]="usuario.pais"
              class="form-control" name="pais">
        <option value="">Seleccione un país</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">

      <label *ngFor="let sex of sexos" class="custom-control custom-radio">
        <input [(ngModel)]="usuario.sexo"
              [value]="sex"
              name="sexo"
              type="radio"
              class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{sex}}</span>
      </label>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]="usuario.acepta"
                name="acepta"
                type="checkbox"
                class="custom-control-input"
                required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Acepta los terminos y condiciones?</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
